body {
    background-color: var(--bg-off-white);
}

.navbar {
    border-bottom: 1px solid var(--brown-border);
}

.c-form {
    margin: 150px 0;
}

.c-form p {
    color: var( --light-brown);
}

form {
    background-color: var(--bg-white);
    padding: 50px;
    border: 1px solid var(--brown-border);
    border-radius: 30px;
    margin-top: 30px;
}

.form-group input,
.form-group textarea {
    background-color: var(--bg-off-white);
    border-bottom: 2px solid var(--brown-border);
    border-radius: 0;
}

.cntct-btn {
    background-color: var(--orange);
    color: var(--brown);
}

.cntct-btn:hover{
    box-shadow: 0 0 10px var(--orange);
}

footer {
    border-top: 1px solid var(--brown-border);
    background-color: var(--bg-white);
}